@model Contracts.SharedDtos.LoginVm
@using Microsoft.Extensions.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["LoginTitle"];
    Layout = "~/Views/Shared/_LayOutAuth.cshtml";
}

@section LoginPageStyle {
    <link href="~/css/Login.css" rel="stylesheet" />
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="toast align-items-center show m-2" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <span class="text-danger">
                    @TempData["ErrorMessage"]
                </span>
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="toast align-items-center show m-2" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <span class="text-success">
                    @TempData["SuccessMessage"]
                </span>
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
}

<div class="container parent">
    <h3 class="titile">@localizer["LoginTitle"]</h3>

    <div class="parentProviders">
        <a asp-controller="Account" asp-action="AuthGoogle">
            <img src="~/assets/7123025_logo_google_g_icon.svg" alt="Google Logo" width="30" height="30">
        </a>
        <a asp-controller="Account" asp-action="LoginWithFacebook">
            <img src="~/assets/facebook.svg" alt="Facebook Logo" width="30" height="30">
        </a>
    </div>

    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label for="loginEmail" class="form-label">@localizer["LoginEmailPlaceholder"]</label>
            <input type="text" asp-for="Email" class="form-control" placeholder="@localizer["LoginEmailPlaceholder"]" id="loginEmail">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="loginPassword" class="form-label">@localizer["LoginPasswordPlaceholder"]</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="@localizer["LoginPasswordPlaceholder"]" id="loginPassword">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="btnForeger">
            <a asp-action="ForgetPassword" asp-controller="Account" class="fPassword">@localizer["ForgotPassword"]</a>
            <button type="submit" class="btn">@localizer["LoginTitle"]</button>
        </div>
    </form>

    <div>
        @localizer["CreateAccount"]
        <a asp-action="Register" asp-controller="Account">@localizer["CreateAccount"]</a>
    </div>
</div>

@section LoginSection {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var toastEl = document.querySelector('.toast');
            if (toastEl) {
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            }
        });
    </script>
}
