@using System.Globalization
@using System.Security.Claims
@using ThirdParty
@using ThirdParty.ViewModels
@inject IViewLocalizer Localizer
@{
    var lang = CultureInfo.CurrentCulture.Name;
    var direction = lang == "ar" ? "rtl" : "ltr";





}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@direction">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("HomeStyle", required: false)
    @RenderSection("GetCategoryStyle", required: false)
    @RenderSection("ProductsPageStyle", required: false)
</head>

<body>


    <div class="top-mini-header">
        <div class="content container">
            <a asp-action="Index" asp-controller="Home" class="logo-container">
                <img src="../../asset/logo.png" alt="Shop Logo" class="logo ">
            </a>
            <div class="left-links">
                <a href="#">@Localizer["Calculator"]</a>
                <a href="#">@Localizer["FAQ"]</a>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {

                <div class="right-links text-end p-3">
                    <a asp-action="Login" asp-controller="Account">@Localizer["Login"]</a>
                    <a asp-action="Register" asp-controller="Account">@Localizer["Register"]</a>
                </div>

            }
            else
            {

                var name = User.FindFirst(ClaimTypes.Name)?.Value;
                <div>
                    <p>@Localizer["Welcome"],@name</p>
                    <a asp-action="LogOut" asp-controller="Account">@Localizer["Logout"]</a>
                </div>
            }

        </div>
    </div>
    <header class="header">
        <div class="main-header container">
            <a asp-action="Index" asp-controller="Home" class="logo-container">
                <img src="~/assets/logo.png" alt="Shop Logo" class="logo">
            </a>
            <div class="menu-toggle" data-bs-toggle="modal" data-bs-target="#menuModal">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3 6h18" />
                    <path d="M3 15h18" />
                    <path d="M3 24h18" />
                </svg>
            </div>
            <!-- model for nav bar -->
            <div class="modal fade custom-modal" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <ul class="menu-list">
                                <li><i class="fas fa-home"></i> <a href="#">Home</a></li>
                                <li><i class="fas fa-list"></i> <a href="#">Catalog</a></li>
                                <li><i class="fas fa-box"></i> <a href="#">My Orders</a></li>
                                <li><i class="fas fa-shopping-cart"></i> <a href="#">Cart</a></li>
                                <li><i class="fas fa-heart"></i> <a href="#">Favorites</a></li>
                                <li><i class="fas fa-info-circle"></i> <a href="#">How to Order</a></li>
                                <li><i class="fas fa-credit-card"></i> <a href="#">How to Pay</a></li>
                                <li><i class="fas fa-truck"></i> <a href="#">Delivery of Goods</a></li>
                                <li><i class="fas fa-globe"></i> <a href="#">Global Remittance</a></li>
                                <li><i class="fas fa-calculator"></i> <a href="#">Calculator</a></li>
                                <li><i class="fas fa-question-circle"></i> <a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-container">
                <input type="text" class="search-input " placeholder="Goods search">
                <span class="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8" /><path d="m21 21-4.3-4.3" /></svg>
                </span>
            </div>

            <div class="header-actions">
                <div class="wishlist">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" /></svg>
                    <span class="wishlist-count">0</span>
                </div>
                <div class="cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart"><circle cx="8" cy="21" r="1" /><circle cx="19" cy="21" r="1" /><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" /></svg>
                    <span class="cart-count">0</span>
                </div>
                @* partials view *@
                <partial name="_SelectLanguagePartial" />


            </div>
        </div>

        @if (ViewContext.RouteData.Values["controller"] != null && ViewContext.RouteData.Values["controller"].ToString().Trim() == "Product")
        {
            <div class="container">
                <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="bg-white d-flex flex-column align-items-start justify-content-center p-2 m-2 rounded-2">
                    <ol class="breadcrumb m-0 ">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (ViewContext.RouteData.Values["action"] != null)
                        {
                            <li class="breadcrumb-item active" aria-current="page">
                                @Context.Request.Query["categoryName"]
                            </li>
                        }
                    </ol>
                </nav>
            </div>
        }

    </header>

    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column f-column">
                <img src="~/assets/logo.png" alt="" width="100px" height="50px">
                <p>
                    <span style="font-weight: 600;">@Localizer["ShopWithConfidence"]</span> <br>
                    @Localizer["ShopDescription"]
                </p>
                <ul class="icons d-flex gap-2">
                    <a href="#" class="social-icon" aria-label="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon" aria-label="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon" aria-label="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="social-icon" aria-label="LinkedIn">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </ul>
            </div>

            <div class="footer-column">
                <h3>@Localizer["QuickLinks"]</h3>
                <ul>
                    <li><a href="#">@Localizer["Categories"]</a></li>
                    <li><a href="#">@Localizer["FAQ"]</a></li>
                    <li><a href="#">@Localizer["Calculator"]</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>@Localizer["PopularCategories"]</h3>
                <ul>
                    <li><a href="#">@Localizer["Clothes"]</a></li>
                    <li><a href="#">@Localizer["Software"]</a></li>
                    <li><a href="#">@Localizer["SportsEntertainment"]</a></li>
                    <li><a href="#">@Localizer["Beauty"]</a></li>
                    <li><a href="#">@Localizer["PackagingPrinting"]</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>@Localizer["GetSupport"]</h3>
                <ul>
                    <li><a href="#">@Localizer["HelpCenter"]</a></li>
                    <li><a href="#">@Localizer["LiveChat"]</a></li>
                    <li><a href="#">@Localizer["OrderStatus"]</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>@Localizer["ConnectWithUs"]</h3>
                <ul>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>@Localizer["OnlineStore"]</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:@Localizer["Email"]">@Localizer["Email"]</a>
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <a href="tel:@Localizer["Phone"]">@Localizer["Phone"]</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">

            <p>@string.Format(@Localizer["Copyright"].Value.ToString() ?? "", DateTime.Now.Year.ToString())</p>

            <div class="footer-links">
                <a href="#">@Localizer["TermsOfUse"]</a>
                <a href="#">@Localizer["PrivacyPolicy"]</a>
                <a href="#">@Localizer["CookiePolicy"]</a>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("ProductScript", required: false)

</body>
</html>
