@using System.Globalization
@using System.Security.Claims
@using DAl.Models
@using ThirdParty
@using ThirdParty.ViewModels
@inject IViewLocalizer Localizer
@{

    var lang = CultureInfo.CurrentCulture.Name;
    var direction = lang == "ar" ? "rtl" : "ltr";
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@direction">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="اشترِ منتجاتك من الصين بأسعار منخفضة مع خدمة شاملة من التوصيل والتخليص الجمركي من Chap لخدمات التسوق. احصل على أفضل العروض والمنتجات عالية الجودة الآن." />

    <meta name="keywords" content="شراء من الصين, أسعار منخفضة, توصيل من الصين, منتجات صينية, تسوق عبر الإنترنت, Chap لخدمات التسوق" />

    <meta name="author" content="chap" />

    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="@ViewData["Title"] - Chap لخدمات التسوق" />
    <meta property="og:description" content="اشترِ منتجاتك من الصين بأسعار منخفضة مع خدمة شاملة من التوصيل والتخليص الجمركي من Chap لخدمات التسوق." />
    <meta property="og:image" content="~/assets/logo.png" />
    <meta property="og:url" content="@Url.Action("Index", "Home")" />
    <meta property="og:type" content="website" />

    <!-- تحديث محتوى Twitter هنا -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="@ViewData["Title"] - Chap لخدمات التسوق" />
    <meta name="twitter:description" content="اشترِ منتجاتك من الصين بأسعار منخفضة مع خدمة شاملة من التوصيل والتخليص الجمركي من Chap لخدمات التسوق." />
    <meta name="twitter:image" content="~/assets/logo.png" />

    <!-- عنوان الصفحة مع إضافة النص "Chap لخدمات التسوق" -->
    <title>@ViewData["Title"] - Chap لخدمات التسوق</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="icon" href="~/assets/logo.png" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="~/css/Menu.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.0/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/css/MenuListStyle.css" rel="stylesheet" />

    <!-- فتح أقسام خاصة للتصميمات -->
    @RenderSection("HomeStyle", required: false)
    @RenderSection("GetCategoryStyle", required: false)
    @RenderSection("ProductsPageStyle", required: false)
    @RenderSection("UserProfileSetting", required: false)
    @RenderSection("CalcStyleSec", required: false)
    @RenderSection("FavoritesStyle", required: false)
    @RenderSection("AcessDeniedStyle", required: false)
    @RenderSection("MarketerMainStyle", required: false)
    @RenderSection("ProductDetailsStyle", required: false)
    @RenderSection("MenuListStyle", required: false)
    @RenderSection("cartSectionStyle", required: false)
    @RenderSection("OrderStyleSection", required: false)
    @RenderSection("PaymentStyleSection", required: false)
    @RenderSection("SectionPayMentHistoryStyle", required: false)
    @RenderSection("StyleSectionDetailsCode", required: false)
    @RenderSection("MarkterAccountsStyle", required: false)
    @RenderSection("AllBilingStyle", required: false)
    @RenderSection("StyleUserChat", required: false)
    @RenderSection("HelpCenterSeection", required: false)
</head>


<body>

    <div class="parent-spinner">
        <div class="spinner"></div>
    </div>


    <div class="parent-to-site">
        <div class="top-mini-header">
            <div class="content container">


                @await Component.InvokeAsync("LogoCom")

                @* in voke async*@
                <div class="left-links">
                    <a asp-action="Calculator" asp-controller="Home">@Localizer["Calculator"]</a>
                    <a href="#">@Localizer["FAQ"]</a>
                </div>
                @if (!User.Identity.IsAuthenticated)
                {

                    <div class="right-links text-end p-3 ">
                        <a asp-action="Login" asp-controller="Account">@Localizer["Login"]</a>
                        <a asp-action="Register" asp-controller="Account">@Localizer["Register"]</a>
                    </div>

                }
                else
                {

                    var name = User.FindFirst(ClaimTypes.Name)?.Value;
                    <div class="d-flex align-items-center gap-3 position-relative">
                        @*  <p>@Localizer["Welcome"],@name</p> *@
                        <partial name="_UserMenuPartial" />

                    </div>


                }

            </div>
        </div>
        @{
            var logo = ViewData["ImageLogo"] as ImagesDynamic;
        }
        <header class="header">
            <div class="main-header container">

                @await Component.InvokeAsync("CategoryMenu")

                @await Component.InvokeAsync("LogoCom")

                <div class="menu-toggle" data-bs-toggle="modal" data-bs-target="#menuModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-text-search">
                        <path d="M21 6H3" />
                        <path d="M10 12H3" />
                        <path d="M10 18H3" />
                        <circle cx="17" cy="15" r="3" />
                        <path d="m21 19-1.9-1.9" />
                    </svg>
                </div>

                <!-- model for nav bar -->
                <div class="modal fade custom-modal" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <ul class="menu-list">
                                    <li><i class="fas fa-home"></i> <a asp-action="Index" asp-controller="Home">@Localizer["Home"]</a></li>
                                    <li><i class="fas fa-list"></i> <a asp-action="GetCategory" asp-controller="Home">@Localizer["Catalog"]</a></li>
                                    <li><i class="fas fa-shopping-cart"></i> <a asp-action="Index" asp-controller="Cart">@Localizer["Cart"]</a></li>
                                    <li><i class="fas fa-heart"></i> <a asp-action="GetFavoutits" asp-controller="UserSetting">@Localizer["Favorites"]</a></li>
                                    <li><i class="fas fa-globe"></i> <a href="#">@Localizer["Global Remittance"]</a></li>
                                    <li><i class="fas fa-calculator"></i> <a asp-action="Calculator" asp-controller="Home">@Localizer["Calculator"]</a></li>
                                    <li><i class="fas fa-question-circle"></i> <a href="">@Localizer["FAQ"]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                @Html.AntiForgeryToken()
                <form asp-action="Search" method="get" asp-controller="Product" class="search-container serach-large-screen">
                    <input type="text" class="search-input" name="title" placeholder="@Localizer["GoodsSearch"]">
                    <button type="submit" class="search-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-search">
                            <circle cx="11" cy="11" r="8" />
                            <path d="m21 21-4.3-4.3" />
                        </svg>
                    </button>
                </form>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-serach" data-bs-toggle="modal" data-bs-target="#form-serach">
                    <i class="fa-brands fa-searchengin"></i>
                </button>

                <div class="modal fade" id="form-serach" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">@Localizer["Search"]</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form asp-action="Search" method="get" asp-controller="Product" class="search-container">
                                    <input type="text" class="search-input" name="title" placeholder="@Localizer["GoodsSearch"]">
                                    <button type="submit" class="search-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="lucide lucide-search">
                                            <circle cx="11" cy="11" r="8" />
                                            <path d="m21 21-4.3-4.3" />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-actions">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Component.InvokeAsync("HeaderActions", new { userId = User.FindFirstValue(ClaimTypes.NameIdentifier) })
                    }

                    <partial name="_SelectLanguagePartial" />
                </div>
            </div>

            @if (ViewContext.RouteData.Values["controller"]?.ToString().Trim() == "Product")
            {
                <div class="container">
                    <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb"
                         class="bred-custom d-flex flex-column align-items-start justify-content-center p-2 m-2 rounded-2"
                         dir="@direction">
                        <ol class="breadcrumb m-0 d-flex @(direction=="rtl" ? "flex-row-reverse" : "")">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                            </li>

                            @if (!string.IsNullOrEmpty(Context.Request.Query["categoryName"]))
                            {
                                <li class="breadcrumb-item">
                                    <a asp-controller="Product" asp-action="ProductsToCategory"
                                       asp-route-categoryName="@Context.Request.Query["categoryName"]"
                                       asp-route-categoryId="@Context.Request.Query["categoryId"]">
                                        @Context.Request.Query["categoryName"]
                                    </a>
                                </li>
                            }

                            @if (!string.IsNullOrEmpty(Context.Request.Query["subcategoryName"]))
                            {
                                <li class="breadcrumb-item active" aria-current="page">
                                    @Context.Request.Query["subcategoryName"]
                                </li>
                            }
                        </ol>
                    </nav>
                </div>
            }
        </header>



        <div class="container">
            @if (TempData["ErrorMessage"] != null)
            {

                <div class="toast align-items-center show m-2 toast-custome" style="background-color:white;" dir="auto" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            <span class="text-danger">
                                @TempData["ErrorMessage"]
                            </span>
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            }


            @if (TempData["SuccessMessage"] != null)
            {
                <div class="toast align-items-center show m-2 toast-custome" dir="auto" style="background-color:white;" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            <span class="text-success">
                                @TempData["SuccessMessage"]
                            </span>
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            }


            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer">
            <div class="footer-container">
                <div class="footer-column f-column">
                    <img src="~/assets/logo.png" alt="" width="100px" height="50px">
                    <p>
                        <span style="font-weight: 600;">@Localizer["ShopWithConfidence"]</span> <br>
                        @Localizer["ShopDescription"]
                    </p>
                    <ul class="icons d-flex gap-2">
                        <a href="#" class="social-icon" aria-label="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon" aria-label="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon" aria-label="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="social-icon" aria-label="LinkedIn">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>@Localizer["QuickLinks"]</h3>
                    <ul>
                        <li><a asp-action="GetCategory" asp-controller="Home">@Localizer["Categories"]</a></li>
                        <li><a href="#">@Localizer["FAQ"]</a></li>
                        <li><a asp-action="Calculator" asp-controller="Home">@Localizer["Calculator"]</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>@Localizer["PopularCategories"]</h3>
                    <ul>
                        <li><a asp-action="Search" asp-controller="Product" asp-route-title="Clothes">@Localizer["Clothes"]</a></li>
                        <li><a asp-action="Search" asp-controller="Product" asp-route-title="Software">@Localizer["Software"]</a></li>
                        <li><a asp-action="Search" asp-controller="Product" asp-route-title="SportsEntertainment">@Localizer["SportsEntertainment"]</a></li>
                        <li><a asp-action="Search" asp-controller="Product" asp-route-title="Beauty">@Localizer["Beauty"]</a></li>
                        <li><a asp-action="Search" asp-controller="Product" asp-route-title="PackagingPrinting">@Localizer["PackagingPrinting"]</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>@Localizer["GetSupport"]</h3>
                    <ul>

                        <li><a asp-action="HelpCenter" asp-controller="Home">@Localizer["HelpCenter"]</a></li>
                        <li><a href="@Url.Action("Index", "Chat")">@Localizer["LiveChat"]</a></li>
                        <li><a href="#">@Localizer["OrderStatus"]</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>@Localizer["ConnectWithUs"]</h3>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <span>@Localizer["OnlineStore"]</span>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:@Localizer["Email"]">@Localizer["Email"]</a>
                        </li>
                        <li>
                            <i class="fas fa-phone"></i>
                            <a href="tel:@Localizer["Phone"]">@Localizer["Phone"]</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">

                <p>@string.Format(@Localizer["Copyright"].Value.ToString() ?? "", DateTime.Now.Year.ToString())</p>

                <div class="footer-links">
                    <a href="#">@Localizer["TermsOfUse"]</a>
                    <a href="#">@Localizer["PrivacyPolicy"]</a>
                    <a href="#">@Localizer["CookiePolicy"]</a>
                </div>
            </div>
        </footer>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    @* swiper *@

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LeM2_UqAAAAABDY9sdsYlrUrla90UkaewosMvfG"></script> 


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true">
        document.addEventListener("DOMContentLoaded", function () {
                 var toastEl = document.querySelector('.toast');
                 if (toastEl) {
                     var toast = new bootstrap.Toast(toastEl);
                     toast.show();
                 }
             });
    </script>

    @await RenderSectionAsync("ProductScript", required: false)
    @await RenderSectionAsync("ProfileScripts", required: false)
    @await RenderSectionAsync("FavoritesScript", required: false)
    @await RenderSectionAsync("MarketerMainScript", required: false)
    @await RenderSectionAsync("ProductDetalsScript", required: false)
    @await RenderSectionAsync("ScriptHome", required: false)
    @await RenderSectionAsync("CartSectionScript", required: false)
    @await RenderSectionAsync("OrderScriptSection", required: false)
    @await RenderSectionAsync("PaymentScriptScetion", required: false)
    @await RenderSectionAsync("SectionPayMentHistorySscript", required: false)
    @await RenderSectionAsync("ScriptCalcSection", required: false)
    @await RenderSectionAsync("MarkterAccountsScript", required: false)
    @await RenderSectionAsync("UserChatScript", required: false)
    @await RenderSectionAsync("HelpCenterSectionScript", required: false)
    @await RenderSectionAsync("SearchSectionScript", required: false)


</body>
</html>
