@using DAl.Models
@using Newtonsoft.Json
@using System.Security.Claims
@using System.Globalization
@inject AutoMapper.IMapper Mapper
@model ProductsViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;


@section ProductsPageStyle {

<link href="~/css/Products.css" rel="stylesheet" />
}

<div class="container">
    <div class="product-header">
        <h1>
            @Context.Request.Query["CategoryName"]
            <span class="product-count">
                @(Model.TotalPages * Model.PageSize)
                @localizer["ProductsFound"], 
            </span>
        </h1>
        <div class="filters">
            <div class="sort-container">
                <label for="sort">@localizer["SortBy"]:</label>
                <select id="sort">
                    <option>@localizer["DefaultOrder"]</option>
                    <option>@localizer["PriceLowToHigh"]</option>
                    <option>@localizer["PriceHighToLow"]</option>
                    <option>@localizer["BestSellers"]</option>
                </select>
            </div>
            <div class="pagination-info">
                <span>
                    @localizer["ShownFromToTotal",
                                      ((Model.CurrentPage - 1) * Model.PageSize),
                                      (((Model.CurrentPage - 1) * Model.PageSize) + Model.PageSize),
                                      2000]
                </span>
            </div>
            <div class="search-container-header">
                <form asp-action="ProductsToCategory"
                asp-controller="Product"
                method="get">
                    <input type="hidden" name="categoryName" value="@Context.Request.Query["categoryName"]">
                    <input type="hidden" name="categoryId" value="@Context.Request.Query["categoryId"]">
                    @if (CultureInfo.CurrentCulture.Name == "ar")
                    {
                        <button type="submit"><i class="fas fa-search"></i></button>

                    }
                    <input type="text" name="searchTerm" placeholder="@localizer["SearchInResults"]">
                    @if (CultureInfo.CurrentCulture.Name != "ar")
                    {
                        <button type="submit"><i class="fas fa-search"></i></button>

                    }
                </form>
            </div>
        </div>
    </div>

    <div class="Parent_to_Main">
        <div class="filter-sidebar">
            <div class="filter-section">
                <div class="filter-header">
                    <span>@localizer["Subcategories"]</span>
                    <i class="arrow"></i>
                </div>
                <div class="filter-content">
                    @if (ViewBag.Categories != null)
                    {
                        var convertedCategories = ViewBag.Categories as List<CategoryDto>;
                        <ul>
                            @foreach (var category in convertedCategories.Select((value, index) => (value, index)))
                            {
                                var routeValues = new Dictionary<string, string>
                        {
                        {"categoryName", $"{Context.Request.Query["categoryName"]}"},
                        {"categoryId", $"{category.value.ParentId}"},
                        {"subcategoryId", $"{category.value.Id}"},
                        {"subcategoryName", $"{category.value.Name}" }
                        };

                                <a asp-action="ProductsToCategory" asp-controller="Product" asp-all-route-data="routeValues">
                                    @if (CultureInfo.CurrentCulture.Name == "ar")
                                    {
                                    <li class="@(category.index >= 10 ? "hidden" : "")">@category.value.NameAr</li>
                                    }
                                    else
                                    {
                                    <li class="@(category.index >= 10 ? "hidden" : "")">@category.value.Name</li>
                                    }
                                </a>
                            }
                            <li class="show-more-category">@localizer["ShowAll"] @convertedCategories.Count</li>
                        </ul>
                    }
                </div>
            </div>

            <div class="filter-section active">
                <div class="filter-header">
                    <span>@localizer["Price"]</span>
                    <i class="arrow"></i>
                </div>
                <div class="filter-content">
                    <form asp-controller="Product" asp-action="ProductsToCategory" method="get">
                        <input type="hidden" name="categoryName" value="@Context.Request.Query["categoryName"]" />
                        <input type="hidden" name="categoryId" value="@Context.Request.Query["categoryId"]" />
                        <input type="hidden" name="subcategoryId" value="@Context.Request.Query["subcategoryId"]" />
                        <input type="hidden" name="subcategoryName" value="@Context.Request.Query["subcategoryName"]" />

                        <div class="price-inputs">
                            <input type="number" name="minPrice" placeholder="@localizer["From"]" value="@Context.Request.Query["minPrice"]" min="0" />
                            <span>-</span>
                            <input type="number" name="maxPrice" placeholder="@localizer["To"]" value="@Context.Request.Query["maxPrice"]" min="0" />
                        </div>

                        <div class="filter-buttons">
                            <button type="submit">@localizer["Apply"]</button>
                            <a href="@Url.Action("ProductsToCategory", "Product", new {
                            categoryName = Context.Request.Query["categoryName"],
                            categoryId = Context.Request.Query["categoryId"],
                            subcategoryId = Context.Request.Query["subcategoryId"],
                            subcategoryName = Context.Request.Query["subcategoryName"]
                        })" class="reset">@localizer["Reset"]</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="filter-section active">
                <div class="filter-header">
                    <span>@localizer["SellerRating"]</span>
                    <i class="arrow"></i>
                </div>
                <div class="filter-content">
                    <div class="price-inputs">
                        <input type="text" placeholder="@localizer["From"]">
                        <span>-</span>
                        <input type="text" placeholder="@localizer["To"]">
                    </div>
                    <div class="filter-buttons">
                        <button>@localizer["Apply"]</button>
                        <button class="reset">@localizer["Reset"]</button>
                    </div>
                </div>
            </div>

            <div class="filter-section active">
                <div class="filter-header">
                    <span>@localizer["GoodsWithDiscount"]</span>
                    <i class="arrow"></i>
                </div>
                <div class="filter-content">
                    <label><input type="radio" name="discount" checked> @localizer["AllGoods"]</label>
                    <label><input type="radio" name="discount"> @localizer["GoodsWithDiscountOnly"]</label>
                    <div class="filter-buttons">
                        <button>@localizer["Apply"]</button>
                        <button class="reset">@localizer["Reset"]</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-container">
            @Html.AntiForgeryToken()

            @if (Model.Products != null)
            {
                @foreach (var product in Model.Products)
                {
                    var productvm = Mapper.Map<FavoriteItemDto>(product);
                    <div class="card" data-productid="@product.Id">
                        <div class="image-container">
                            <img src="@product.MainPictureUrl" alt="@localizer["ProductImage"]">
                            <div class="overlay-buttons">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <button class="heart-button"
                                            data-userId="@(User.FindFirst(e => e.Type == ClaimTypes.NameIdentifier).Value.ToString() ?? "no id")"
                                            data-product="@Html.Raw(JsonConvert.SerializeObject(productvm).Replace("\"", "&quot;"))">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart">
                                            <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
                                        </svg>
                                    </button>
                                }

                             
                            </div>
                        </div>
                        <h3>@product.Title</h3>
                        <p>@product.Price.ConvertedPriceList.Internal.Price @localizer["SAR"]</p>
                        <a asp-action="ProductDetails"
                           asp-controller="Product"
                           asp-route-categoryId="@Context.Request.Query["categoryId"]"
                           asp-route-categoryName="@Context.Request.Query["categoryName"]"
                           asp-route-productId="@product.Id"
                           asp-route-page="@(Context.Request.Query["page"].ToString() ?? "0")">@localizer["AllDetails"]</a>
                    </div>
                }
            }
        </div>


    </div>




    <div class="pagination-custom">
        <ul>
            @if (Model.CurrentPage > 1)
            {
                <li class="btn prev">
                    <a href="@Url.Action("ProductsToCategory", new { categoryName = Context.Request.Query["categoryName"], categoryId = Context.Request.Query["categoryId"], page = Model.CurrentPage - 1, pageSize = Model.PageSize })">
                        <i class="fas fa-angle-left"></i> @localizer["Prev"]
                    </a>
                </li>
            }
            @if (Model.CurrentPage > 3)
            {
                <li><a href="@Url.Action("ProductsToCategory", new { categoryName = Context.Request.Query["categoryName"], categoryId = Context.Request.Query["categoryId"], page = 1, pageSize = Model.PageSize })">1</a></li>
                <li class="dots"><span>@localizer["Ellipsis"]</span></li>
            }

            @for (int i = Math.Max(1, Model.CurrentPage - 2); i <= Math.Min(Model.TotalPages, Model.CurrentPage + 2); i++)
            {
                <li class="@(i == Model.CurrentPage ? "active" : "")">
                    <a href="@Url.Action("ProductsToCategory", new { categoryName = Context.Request.Query["categoryName"], categoryId = Context.Request.Query["categoryId"], page = i, pageSize = Model.PageSize })">@i</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages - 2)
            {
                <li class="dots"><span>@localizer["Ellipsis"]</span></li>
                <li><a href="@Url.Action("ProductsToCategory", new { categoryName = Context.Request.Query["categoryName"], categoryId = Context.Request.Query["categoryId"], page = Model.TotalPages, pageSize = Model.PageSize })">@Model.TotalPages</a></li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="btn next">
                    <a href="@Url.Action("ProductsToCategory", new { categoryName = Context.Request.Query["categoryName"], categoryId = Context.Request.Query["categoryId"], page = Model.CurrentPage + 1, pageSize = Model.PageSize })">
                        @localizer["Next"] <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            }
        </ul>
    </div>

</div>


@section ProductScript {
    <script src="~/js/Product.js"></script>
}