@using Contracts.SharedDtos;
@using System.Globalization
@using ThirdParty
@using ThirdParty.ViewModels




@section GetCategoryStyle {


    <link href="~/css/CategoryPage.css" rel="stylesheet" />
}

<h2 class="p-3 fw-bolder fs-2">All categories</h2>


<div class="category_contaeiner">
    @foreach (var category in ViewBag.Categories as List<CategoryDto>)
    {
        <div class="category_card">
            <h5>

                @if (CultureInfo.CurrentCulture.Name == "ar")
                {


                    <a asp-controller="Product"
                       asp-action="ProductsToCategory"
                       asp-route-categoryName="@category.Name"
                       asp-route-categoryId="@category.Id">
                        @category.NameAr
                    </a>

                }
                else
                {

                    <a asp-controller="Product"
                       asp-action="ProductsToCategory"
                       asp-route-categoryName="@category.Name"
                       asp-route-categoryId="@category.Id">
                        @category.Name
                    </a>
                }
            </h5>
        </div>
    }

</div>