@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@using System.Globalization
@using Contracts.SharedDtos;
@using DAl.Models
@using ThirdParty
@using ThirdParty.Controllers
@using ThirdParty.ViewModels

@{
    ViewData["Title"] = "Home";
}

@section HomeStyle {
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/Products.css" rel="stylesheet" />
}

@{
    var imagesdy = ViewData["images"] as List<ImagesDynamic>;
}

<div class="content">
    <div class="contentOfSwiper-first">
        <div class="swiper-container-first first-swiper">
            @if (imagesdy != null && imagesdy.Count > 0)
            {
                <div class="swiper-wrapper">
                    @foreach (var image in imagesdy)
                    {
                        <div class="swiper-slide">
                            <img src="@image.Url" alt="image">
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://data.otcommerce.com/box/global/banner/how_to_order_en.png" alt="@localizer["Image 1"]">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://data.otcommerce.com/box/global/banner/catalog_en.png" alt="@localizer["Image 2"]">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://data.otcommerce.com/box/global/banner/catalog_en.png" alt="@localizer["Image 3"]">
                    </div>
                </div>
            }

            <!-- الأسهم -->
            <div class="btn-arrow swiper-button-next"></div>
            <div class="btn-arrow swiper-button-prev"></div>

            <!-- النقاط -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    @if (ViewBag.Products as TowTypeProducts != null)
    {
        var productsPopular = (ViewBag.Products as TowTypeProducts).ProductsPopular;
        var productsLast = (ViewBag.Products as TowTypeProducts).ProductsLast;
        var productsNew = (ViewBag.Products as TowTypeProducts).ProductsNew;
        @if (productsPopular?.Count != 0 && productsLast?.Count != 0 && productsNew?.Count != 0)
        {
            <input hidden type="text" id="checkinputHome">
        }
        <div class="section_to_products my-4">
            @if (productsPopular != null && productsPopular.Count > 0)
            {
                <h3>@localizer["PopularGoods"]</h3>

                <section class="swiper-container container second-swiper">
                    <div class="swiper-wrapper">
                        @foreach (var product in productsPopular)
                        {
                            <div class="swiper-slide">
                                <div class="card" data-productid="@product.Id">
                                    <div class="image-container">
                                        <img src="@product.MainPictureUrl" alt="@localizer["ProductImage"]">

                                    </div>
                                    <h3 class="title_product">@product.Title</h3>
                                    <p>@product.Price.ConvertedPriceList.Internal.Price  SAR</p>
                                    <a asp-action="ProductDetails" asp-controller="Product" asp-route-productId="@product.Id" asp-route-page="@(Context.Request.Query["page"].ToString() ?? "0")">@localizer["AllDetails"]</a>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            }
            else
            {
                <p class="NotFoundClass">@localizer["NoPopularProducts"]</p>
            }
        </div>

        <div class="section_to_products my-4">
            @if (productsLast != null && productsLast.Count > 0)
            {
                <section class="swiper-container container second-swiper">
                    <h3>@localizer["LastViewed"]</h3>
                    <div class="swiper-wrapper">
                        @foreach (var product in productsLast)
                        {
                            <div class="swiper-slide">
                                <div class="card" data-productid="@product.Id">
                                    <div class="image-container">
                                        <img src="@product.MainPictureUrl" alt="@localizer["ProductImage"]">

                                    </div>
                                    <h3 class="title_product">@product.Title</h3>
                                    <p>@product.Price.ConvertedPriceList.Internal.Price  SAR</p>
                                    <a asp-action="ProductDetails" asp-controller="Product" asp-route-productId="@product.Id" asp-route-page="@(Context.Request.Query["page"].ToString() ?? "0")">@localizer["AllDetails"]</a>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            }
            else
            {
                <p class="NotFoundClass">@localizer["NoLastViewedProducts"]</p>
            }
        </div>

        <div class="section_to_products my-4">
            @if (productsNew != null && productsNew.Count > 0)
            {
                <section class="swiper-container container second-swiper">
                    <h3>@localizer["NewProducts"]</h3>
                    <div class="swiper-wrapper">
                        @foreach (var product in productsNew)
                        {
                            <div class="swiper-slide">
                                <div class="card" data-productid="@product.Id">
                                    <div class="image-container">
                                        <img src="@product.MainPictureUrl" alt="@localizer["ProductImage"]">
                                    
                                    </div>
                                    <h3 class="title_product">@product.Title</h3>
                                    <p>@product.Price.ConvertedPriceList.Internal.Price  SAR</p>
                                    <a asp-action="ProductDetails"
                                    asp-controller="Product"
                                    asp-route-productId="@product.Id" 
                                    asp-route-page="@(Context.Request.Query["page"].ToString() ?? "0")">@localizer["AllDetails"]</a>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            }
            else
            {
                <p class="NotFoundClass">@localizer["NoNewProducts"]</p>
            }
        </div>
    }
</div>




@section ScriptHome {
    <script src="~/js/Home.js"></script>
}