@using System.Security.Claims
@using ThirdParty.Utilities
@using static ThirdParty.Controllers.UserSettingController
@inject IViewLocalizer Localizer;

@model FavvouritViewTypes;
@section FavoritesStyle {
<link href="~/css/Favorites.css" rel="stylesheet" />
}



<div class="container-custom">
    <h1>@Localizer["Favorites"]</h1>
    <div class="tabs-custom">
        <div class="tab-custom active" data-type="items">@Localizer["FavoriteItems"]: @ViewData["NumberOfProduct"]</div>
        <div class="tab-custom" data-type="sellers">@Localizer["FavoriteSellers"]: @ViewData["NumberOfSaller"]</div>
    </div>

    <div id="content-custom" class="content-custom">
        @if (Model != null)
        {
            <div class="favorites-container active" data-isEmpety="@(Model.FavoriteItems.Count == 0 ? true : false)">
                @if (Model.FavoriteItems.Count != 0)
                {
                    <div class="cart-container">
                        <div class="cart-header">
                            <div class="form-check">
                                <input class="form-check-input check-all-parent"
                                       type="checkbox"
                                       value=""
                                       id="flexCheckChecked" />
                                <label class="form-check-label" for="flexCheckChecked">
                                    @Localizer["Checkedcheckbox"]
                                </label>
                            </div>

                            <button type="button" class="delete-btn disabled" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                @Localizer["deleteselected"] <i class="fa-solid fa-trash-can"></i>
                            </button>

                            <a class="empty-btn">
                                @Localizer["Emptyfavourites"] <i class="fa-regular fa-heart"></i>
                            </a>
                            <a class="empty-btn Save-btn">
                                @Localizer["savechanges"]
                            </a>
                        </div>

                        <div class="parent-products">
                            @Html.AntiForgeryToken()
                            @{
                                var USERID = @User.FindFirst(ClaimTypes.NameIdentifier).Value;
                            }
                            <input type="text" hidden disabled name="userId" value="@USERID" class="userId-input" />
                            @foreach (var item in Model.FavoriteItems)
                            {
                                <div class="cart-item">
                                    <input type="text" name="Id" class="ProductId" value="@item.Id" hidden disabled />
                                    <div class="image-container">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   value=""
                                                   id="flexCheckChecked" />
                                            <label class="form-check-label" for="flexCheckChecked"> </label>
                                        </div>
                                        <img src="@item.Image"
                                             alt="@Localizer["Product image alt text"]"
                                             class="product-img" />
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="product-title">
                                            @item.Title
                                        </a>
                                        <div class="product-info-details">
                                            <p>
                                                <strong>@Localizer["Code:"]</strong>
                                                <span class="product-code">66724357592</span>
                                            </p>
                                            <p><strong>@Localizer["Vendor:"]</strong> <a href="#">su15218989142</a></p>
                                            <p><strong>@Localizer["Category:"]</strong> <a href="#">clothes</a></p>
                                            <p>
                                                <strong>@Localizer["Price per 1 piece:"]</strong>
                                                <span class="price">@item.Price SAR</span>
                                            </p>
                                            <p>
                                                <strong>@Localizer["Quantity:"]</strong>
                                                <button class="quantity-btn-custom decrease">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <input type="number" value="@item.Quntity" class="quantity-input" />
                                                <button class="quantity-btn-custom increase">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="total-price">@item.TotalPrice SAR</div>
                                    <div class="actions">
                                        <div>
                                            <span>@Localizer["Comments for the operator:"]</span>
                                            <textarea placeholder="@Localizer["Notes ..."]"></textarea>
                                        </div>
                                        <div>
                                            <button class="delete-item  delete-one-item-btn">
                                                <input type="text" name="Id" hidden disabled value="@item.Id" />
                                                <i class="fa-solid fa-trash-can"></i>
                                            </button>
                                            <button class="add-cart">
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                }
                else
                {
                    <div>@Localizer["Youhavenofavoriteitems"]</div>
                }
            </div>

            <div class="favorites-container-saller" data-isEmpety="@(Model.FAvouritSaller.Count == 0 ? false : false)">
                @await Component.InvokeAsync("FavoriteSallerCom", new { userId = User.FindFirstValue(ClaimTypes.NameIdentifier) })
            </div>

        }
        else
        {
            <div>@Localizer["You have no favorite items"]</div>
        }
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Localizer["Confirmation of deletion"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Localizer["Are you sure you want to delete? This action will delete all items. Please proceed with caution."]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                    <button type="button" class="btn delete-btn delete-all-btn">
                        @Localizer["Delete All"]
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

@section FavoritesScript {

    <script src="~/js/Favorites.js"></script>

}


